# Dependencies
node_modules/

# Build outputs
dist/
build/
main
margin-backend
backend/server

# WXT
extension/.output/
extension/.wxt/

# Environment
.env
.env.local

# Database
*.db
*.sqlite
*.db-wal
*.db-shm

# Keys
oauth_private_key.pem
*.pem

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Go
backend/vendor/

# Wrangler
.wrangler/

# other
NOTES.md
extension.zip

# Xcode
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcarchive
*.dSYM.zip
*.dSYM

# PDF.js build exception
!extension/public/pdfjs/build/
